.recommended-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.recommended-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #09ff00;
}

button:active {
  transform: scale(0.95);
}


.logo {
  display: block; 
  width: 400px;    
  height: auto;   
  margin: 20px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;  /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition effect */
}

.logo:hover {
  transform: scale(1.05);  /* Slightly enlarge the logo on hover */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);  /* Enhanced shadow effect on hover */
}

/* Adding an after pseudo-element for gradient overlay effect on hover */
.logo:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 10px;  /* Rounded corners for gradient overlay */
  pointer-events: none;  /* Ensures the overlay doesn't interfere with user interactions */
}
