/* Default light mode styles */
/* Default light mode styles */
body, .App {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
.dark {
  background-color: #333;
  color: #000000;
}

.dark .App-header {
  background-color: #1a1d21; /* Slightly lighter than the body for contrast */
  color: #fff;
}

.dark .App-link {
  color: #a1dafb; /* A lighter shade for better visibility in dark mode */
}

body {
  background-color: #fff;
  color: #333;
}

/* Dark mode styles */
body.dark {
  background-color: #333;
  color: #000000;
}

body.dark .App-header {
  background-color: #1a1d21; /* Slightly lighter than the body for contrast */
  color: #fff;
}

body.dark .App-link {
  color: #a1dafb; /* A lighter shade for better visibility in dark mode */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  /* Styles for mobile view */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
